body {
  margin: 0px;
  margin-left: 5px;
}

.book {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  height: 120px;
  width: 200px;
  background-color: blanchedalmond;
  color: #444;
}

.button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form {
  font-family: monospace;
  width: fit-content;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
